<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{css/bootstrap-3.3.4-dist/css/bootstrap.min.css}"/>

    <script src="../static/js/jquery-2.1.4.min.js"
            th:src="@{js/jquery-2.1.4.min.js}"></script>

    <link th:href="@{css/custom.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;" th:fragment="adminheader">
        <div class="row">
            <div class="col-md-1 col-md-offset-1 navbar-brand">
                <a href="#" th:href="@{/admin/students/p/1}" th:text="#{header.studentes}">Students</a>
            </div>

            <div class="col-md-1  navbar-brand">
                <a href="#" th:href="@{/admin/faculty/all}" th:text="#{header.Faculties}">faculties</a>
            </div>

            <div class="col-md-1 navbar-brand">
                <a href="#" th:href="@{/logout}" th:text="#{header.logout}">Navbar</a>
            </div>

            <div class="col-md-1 col-md-offset-5 navbar-brand">
                <a href="?lang=en">English</a>
            </div>

            <div class="col-md-1 navbar-brand">
                <a href="?lang=ua">Українська</a>
            </div>
        </div>
    </nav>
</div>
</body>
</html>