<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{css/bootstrap-3.3.4-dist/css/bootstrap.min.css}"/>

    <script src="../static/js/jquery-2.1.4.min.js"
            th:src="@{js/jquery-2.1.4.min.js}"></script>

    <link th:href="@{css/custom.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#" th:href="@{/login}" th:text="#{header.login}">Navbar</a>
    <a class="navbar-brand" href="#" th:href="@{/registration}" th:text="#{header.registration}">Navbar</a>
    <a class="navbar-brand" href="?lang=en">English</a>
    <a class="navbar-brand" href="?lang=ua">Українська</a>
    <a class="navbar-brand" href="#" th:href="@{/logout}" th:text="#{header.logout}">Navbar</a>
</nav>
<h2 th:utext="#{index.page.hello}">Hello page</h2>
<p><a href="#" th:href="@{/admin/students}">Admin's zone</a></p>
<p><a href="#" th:href="@{/user/edit}">User's zone</a></p>
</body>
</html>