<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{css/bootstrap-3.3.4-dist/css/bootstrap.min.css}"/>

    <script src="../static/js/jquery-2.1.4.min.js"
            th:src="@{js/jquery-2.1.4.min.js}"></script>

    <link th:href="@{css/custom.css}" rel="stylesheet" media="screen"/>

</head>
<body>
<div sec:authorize="isAnonymous()">
    <div th:replace="fragments/header::header">
        <p>Navbar</p>
    </div>
</div>

<div sec:authorize="hasRole('USER')">
    <div th:replace="fragments/userheader::userheader">
        <p>Navbar</p>
    </div>
</div>
<div sec:authorize="hasRole('ADMIN')">
    <div th:replace="fragments/adminheader::adminheader">
        <p>Navbar</p>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h2 th:text="#{index.header.about}">Header</h2>
            <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fermentum velit sapien, id volutpat ex sagittis vitae. Curabitur feugiat convallis tortor, eget facilisis augue tincidunt id. Integer vel iaculis mi. Mauris bibendum, enim ac aliquam volutpat, sem urna viverra elit, et porta dolor sapien vitae nulla. Vivamus nec aliquet ante. Phasellus lectus magna, scelerisque ut magna eget, scelerisque malesuada ipsum. Donec ultricies viverra feugiat. Donec consectetur, nulla vitae condimentum tincidunt, quam odio molestie nulla, vitae lobortis lacus orci nec urna. Fusce ut efficitur metus. Mauris tristique, elit quis ornare cursus, magna dolor lobortis mauris, at iaculis nisl tortor vitae justo. Nunc blandit urna vitae orci posuere aliquam. Sed at suscipit felis. Suspendisse faucibus est consequat turpis mollis posuere. Quisque sed dui venenatis, mattis leo et, consectetur eros.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
Nullam sed turpis nec neque hendrerit malesuada eget varius nulla.
Ut gravida neque vel sem iaculis, vitae maximus est mollis.
                <ul>
                    <li>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </li>
                    <li>
Nullam sed turpis nec neque hendrerit malesuada eget varius nulla.
                    </li>
                    <li>
Ut gravida neque vel sem iaculis, vitae maximus est mollis.
                    </li>
                </ul>
            </span>
        </div>
    </div>
</div>
</body>
</html>