<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{css/bootstrap-3.3.4-dist/css/bootstrap.min.css}"/>

    <script src="../static/js/jquery-2.1.4.min.js"
            th:src="@{js/jquery-2.1.4.min.js}"></script>

    <link th:href="@{css/custom.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div th:replace="fragments/header::header">
    <p>Navbar</p>
</div>
<h2 th:utext="#{index.page.hello}">Hello page</h2>
<p><a href="#" th:href="@{/admin/students/p/1}">Admin's zone</a></p>
<p><a href="#" th:href="@{/user/edit}">User's zone</a></p>
<p><a href="#" th:href="@{/admin/faculty/all}">faculties</a></p>
</body>
</html>